 $main-color: #fff;
 $title:#F18128;
 $btn-big:#F18128;
 $btn-hover-bg: #040D1F;
 $bg: #030914;
 $border-radius: 6px;
 
 $Montserrat: ('Regular', 400),('Bold', 700);
 
 @each $name, $weight in $Montserrat {
   @font-face {
      font-family: 'M';
      src: url(../fonts/montserrat/Montserrat-#{$name}.woff2);
    }  
 }
 $Comfortaa: ('Regular', 400),('Bold', 700);
 
 @each $name, $weight in $Comfortaa {
   @font-face {
      font-family: 'C';
      src: url(../fonts/Comfortaa/Comfortaa-#{$name}.woff2);
    }  
 }
 $Roboto: ('Regular', 400),('Medium', 500);
 
 @each $name, $weight in $Roboto {
   @font-face {
      font-family: 'R';
      src: url(../fonts/Roboto/Roboto-#{$name}.woff2);
    }  
 }


 
  